header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

body {
    position: relative;
}

.data-table {

    tr {
        margin-top: 5px;
        cursor: pointer;
    }

    td {
        padding: 5px 10px;
    }

    .row {
        background-color: #444444ff;

        &:hover {
            background-color: #444444aa;
        }
    }

    .alt-row {
        background-color: #666666ff;

        &:hover {
            background-color: #666666aa;
        }
    }
}

.honey-form {
    display: grid;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    align-content: center;
    grid-template-columns: repeat(11, auto);

}

.input-control {
    width: 100%;
    max-width: 100%;

    input {
        width: 100%;
    }
}

.filter {
    display: flex;
    gap: 5px;

    label {
        text-align: left;
    }

    .input-control {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }
}

.stats-table {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

    .stat-row {
        display: flex;
        gap: 15px;
        justify-content: flex-start;
        align-items: center;

    }
}