@import "./menu";

*{
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

body {
    position: relative;
}